secrets/
.viminfo
node_modules/
.node_repl_history
.npm/
.bash_history
.bash_logout
.bash_profile
.bashrc
.config/
.gitconfig
.lesshst
.ssh/
.vim/
dist/
.vimrc
backend/email/messages/*.txt
.cache/
.local/
**/*.swp
**/__pycache__/
