@font-face {
    font-family: 'lora';
    src: url('./fonts/lora-bold-webfont.woff2') format('woff2'),
         url('./fonts/lora-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'lora';
    src: url('./fonts/lora-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/lora-bolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'lora';
    src: url('./fonts/lora-italic-webfont.woff2') format('woff2'),
         url('./fonts/lora-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'lora';
    src: url('./fonts/lora-medium-webfont.woff2') format('woff2'),
         url('./fonts/lora-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'lora';
    src: url('./fonts/lora-mediumitalic-webfont.woff2') format('woff2'),
         url('./fonts/lora-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style:  italic;
    font-display: block;
}

@font-face {
    font-family: 'lora';
    src: url('./fonts/lora-regular-webfont.woff2') format('woff2'),
         url('./fonts/lora-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

html, body { height: 100%; }

:root {
    --main-color: #a02828;
    --secondary-color: #ff9d00;
    --lite-color: #fff7f7;
    --text-color: #111;
    --normal-size: 12pt;
}

p {
    color: var(--text-color);
}

body {
    margin: 0px;
    font-family: 'lora';
    font-size: var(--normal-size);
    width: 100%;
    text-align: center;
}

#app {
    display: inline-block;
    text-align: initial;
}

a {
    color: var(--main-color);
}

a:hover {
    color: var(--secondary-color);
}

input[type="button"], input[type="submit"], button {
    background-color: #fff;
    font-family: 'lora';
    font-size: var(--normal-size);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: 2px 8px;
    margin-top: 10px;
}

input[type="button"]:hover, input[type="submit"]:hover, button:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    cursor: pointer;
}

input[type=text], input[type=password], input[type=email] {
    border: none;
    border-radius: 2px;
    background-color: var(--lite-color);
    outline: none;
    padding: 5px;
}
